<h1>{{}}</h1>
<p>Welcome to {{}}</p>
<div class="">
    <div >
        {{dvc0}}
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
</div>
<div class="">
    <div >
        {{dvc1}}
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
</div>
<div class="">
    <div >
        {{dvc2}}
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
</div>
